$white: white;
$yellow: #fff021;

@import "homepage.scss";

body,
html {
  background: $white;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: 300;
}

main {
  padding: 28px 0px 0px;
  min-height: 80vh;

  p {
    font-size: 20px;
    line-height: 1.4;
    padding-bottom: 0px;
    font-family: "Open Sans";
    font-weight: 300;
    max-width: 90%;
  }

  h3 {
    font-size: 26px;
    line-height: 26px;
    font-weight: 700;
  }
}

footer {
  .inner {
    max-width: 1425px;
    margin: 0 auto;
  }
  .studying {
    background-color: $yellow;

    .inner {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 3rem 0;
      align-items: center;
    }

    a {
      background: none repeat scroll 0 0 #0a0a0a;
      border: none;
      position: relative;
      top: -3px;
      color: #e4d2d2;
      margin-bottom: 0px;
      font-size: 12px;
      box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
      -moz-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
      -webkit-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
      -o-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
      text-transform: uppercase;
      font-family: "Open Sans";
      font-weight: 700;
      letter-spacing: 2px;
      margin-left: 20px;
      line-height: 24px;
      display: inline-block;
      border-radius: 5px 5px 5px 5px;
      padding: 16px 21px;
    }
  }
  .copyright {
    padding: 20px 0px;
    font-size: 12px;
    background-color: #1c1c1c;
    color: white;
    font-size: 1rem;

    .inner {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1rem 0;

      ul {
        display: flex;
        flex-direction: row;
      }
      li {
        list-style-type: none;
        margin: 0 1rem;
      }
    }
  }
}

.offline {
  a {
    margin: 0 auto;
    width: 100%;
    max-width: 250px;
    background-color: black;
    color: white;
    padding: 1em 2em;
    font-weight: bold;
    font-size: 1rem;
    display: block;
    text-align: center;
  }
}
