<footer>
  <section class="studying">
    <div class="inner">
      <h3>Studeren bij cmd?</h3>
      <button>Kom naar onze open dag</button>
    </div>
  </section>
  <section class="copyright">
    <div class="inner">
      <p>@2019 CMD Amsterdam</p>
      <ul>
        <li>FB</li>
        <li>Twitter</li>
      </ul>
    </div>
  </section>
</footer>