<header>
  <section class="header-wrapper">
    <div class="logo">
      <a href="/">
        <img src="/assets/cmd_hva_logo_black-1-extralarge.webp" sizes="(min-width: 40em) 80vw, 100vw" srcset="/assets/cmd_hva_logo_black-1-medium.webp 375w,
          /assets/cmd_hva_logo_black-1-large.webp 480w,
        /assets/cmd_hva_logo_black-1-extralarge.webp 768w" alt="CMD Hva logo">
      </a>
    </div>
    <nav>
      <ul>
        <li><a href="/cmd">CMD</a></li>
        <li><a href="/studentenwerk">Studentenwerk </a></li>
        <li><a href="/battery">Battery</a></li>
        <li><a href="/nieuws">Nieuws</a></li>
        <li><a href="/english">English</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <div class="search">
      <p>Zoeken</p>
    </div>
  </section>
</header>